.activity{
    width:92%;
    display:grid;
    grid-template-columns: 40% 60%;
    padding-top:10rem;
    padding-bottom: 5rem;
    max-width: 1350px;
}
.activity_content_wrapper{
    height:auto;
    width:100%;
    display:flex;
    align-items: center;
}
.activity_content{
    padding-bottom: var(--paddingSmall);
}
.activity_content h1{
    font-size:calc(var(--fontSizeBig) + .5rem);
    color:var(--blue);
    font-weight:900;  
    max-width:30rem;
    width:100%;
    height:auto;
    padding-bottom:var(--paddingBig);
}
.activity_content p{
    font-size: var(--fontText);
    width:100%;
    line-height:3rem;
    color:var(--black);
}
.activity_content-p--first{
    padding-bottom:2rem;
}
.activity_image_wrapper{
    width:100%;
    height:100%;
    display:grid;
    place-items:center;
}
.activity_image img{
    width:100%;
    max-width: 66rem;
    max-height: 68.6rem;
    height:100%;
}
@media screen and (max-width:900px){
    .activity{
        grid-template-columns: 100%;
    }   
    .activity_content{
        width:100% ;
        
    }
    .activity_content h1{
        width:100%;
    }
    .activity_content p{
        max-width:50rem;
    }
}
@media screen and (max-width:468px){
    .activity_content h1{
        font-size:2.8rem;
    }
}