.toggle-btn{
    height:3rem;
    width:4rem;
    position:relative;

    &--slider{
        height:1.7rem;
        width:4rem;
        position:absolute;
        background:#fff;
        border:1px solid #2ba84a;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 1rem;
        z-index:-1;
        transition: 250ms ease;

        &.toggle{
            background:#2ba84a;
        }
    }
    &--circle{
        height:3rem;
        width:3rem;
        background:#fff;
        border:1px solid #aaa;
        border-radius:50%;
        transform:translateX(-0.6rem);
        transition: transform 250ms ease;

        &.toggle{
            transform:translateX(1.6rem);
        }
    }
}


