.partners{
    margin-top: 10rem;

    &-title{
        display:grid;
        place-items:center;
        margin-bottom: 3rem;
    }

    &-slider{
        margin:0 auto;
        width:100%;
        max-width: 70rem;

        &-img{
            width:16rem;
            height:16rem;
            margin:1rem;
            display:grid;
            place-items:center;
            margin-left: auto;
            margin-right: auto;  
        }
    }
}
.slick-prev:before, .slick-next:before{
    color:#2BA84A !important;
}
.slick-prev {
    left: 0 !important;
}
.slick-next {
    right: 0 !important;
}