.fashion-wrapper{
    width:100%;
    display:grid;
    place-items: center;
    background:#fff;
    margin-top:-6rem;
}
.fashion{
    width:92%;
    display:grid;
    grid-template-columns: 50% 50%;
    padding-top:10rem;
    padding-bottom: 5rem;
    max-width: 1350px;
}

.fashion_content{
    max-width:60rem;
    width:100%;
}

.fashion_content_header h1{
    font-size:var(--fontSizeBig);
    max-width:48rem;
    width:100%;
    color:var(--blue);
    font-weight:900;  
    line-height:4.5rem;
}
.fashion_content_header{
    padding-bottom: 2.8rem;
}

.fashion_content_items{
    display:flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.fashion_content_items:nth-child(3){
    padding-bottom: 3rem;
}
.fashion_content_items .check{
    width:2.5rem;
    height:2.5rem;
    margin-top: 5px;
}
.fashion_content_items .item{
    width:calc(100% - 4rem);
    height:auto;
    font-size:var(--fontText);
    line-height: 3rem;
    color:var(--black);
}

.fashion_image_wrapper{
    display:flex;
    align-items:center;
}
.fashion_image{
    height:40rem;
    width:100%;
}
.fashion_image .img{
    height:100%;
    width:100%;
}


@media screen and (max-width:768px){
    .fashion{
        grid-template-columns: 100%;
        grid-row-gap:4rem; 
    }  
    .fashion_image_wrapper{
        grid-row: 1/2;
    }
    .fashion_content{
        max-width:100%;
    }
      
}
@media screen and (max-width:468px){
    .fashion_content_header h1{
        font-size:3rem;
    }
}
