.popup-container{
    background: rgba(0, 0, 0, 0.4); 
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:2222;
    display:none;
    place-items: center;
    backface-visibility: hidden;
    padding:1rem;
}


.popup-container.show{
    display:grid;
}

.popup-wrapper{
    width: 100%;
    max-width:55rem;
    background:#fff;
    border-radius: 10px;
    padding:2rem;
    transform:scale(1);
    animation: popupEffect 250ms;
    opacity:1;
}
@keyframes popupEffect{
    from{
        transform:scale(0);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

.popup-cancel{
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.popup-cancel span{
    color:var(--black);
    cursor:pointer;
}
.popup-details{
    height:auto;
    width:100%;
    max-width:38rem;
    margin:0 auto;
    padding-bottom:1rem;
}
.popup-details-header{
    padding-bottom:1rem;
    width:100%;
    display: grid;
    place-items: center;
}
.popup-details-header h1{
    color:var(--blue);
    font-size:2.8rem;
    font-weight:800;
    padding-bottom:.5rem;
}
.popup-details-header p{
    padding-bottom: 1rem;
    color:var(--black);
    font-size:1.2rem;
    font-weight:600;
}
.popup-details-content{
    padding-bottom: 1rem;
}
.popup-details-content-wrapper input{
    display:block;
    width:100%;
    border:1px solid var(--black);
    background:transparent;
    color:var(--black);
    border-radius: 4px;
    padding:2rem;
    outline:none;
    height:4rem;
    margin-bottom:1.3rem;
}

.popup-details-content-subscribe{
    width:100%;
    height:3.8rem;
    background:var(--blue);
    display:grid;
    place-items: center;
    cursor:pointer;
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white !important;
}
.popup-details-content-subscribe div{
    display:flex;
}
.popup-details-content-subscribe div p{
    display:grid;
    place-items: center;
    font-size:1.4rem;
    padding-right:.6rem;
    letter-spacing: 1.2px;
}
.popup-details-content-subscribe div span{
    color:white !important;
    font-size:2rem;
}
.popup-timer{
    width:100%;
    margin: 0 auto;
    padding-bottom: .8rem;
}
.popup-time-wrapper{
    width:100%;
    display:grid;
    place-items: center;
    max-width:38rem;
    margin:0 auto;
}
.popup-time{
    display:grid;
    grid-template-columns: repeat(4, 22%);
    gap:4%;
    width:100%;
}
.popup-time-box{
    width:100%;
    height:8rem;
    background:var(--pink);
    padding:1rem;
    border-radius: 5px;
    display:grid;
    place-items: center;
    color:#fff;
}
.popup-time-box-digit{
    font-size:3rem;
    font-weight: 700;
}
.popup-time-box-text{
    font-size:1.3rem;
}
.popup-footer{
    width:100%;
    display:flex;
    justify-content: center;
    font-size:1.4rem;
    color:var(--black);
    text-align:center;
}
.popup-footer-text span{
    font-weight:800;
}

@media screen and (max-width:360px){
    .popup-wrapper{
        max-width: 100%;
        padding:1rem;
    }
    .popup-time-box{
        height:6rem;
        background:var(--pink);
        padding:1rem;
        border-radius: 5px;
        display:grid;
        place-items: center;
        color:#fff;
    }
    .popup-time-box-digit{
        font-size:2rem;
        font-weight: 700;
    }
    .popup-details-content-wrapper input{
        padding: 1rem;
    }
}
@media screen and (max-width:346px){
    .popup-time{
        grid-template-columns: repeat(2, 48%);        
    }    
    .popup-wrapper{
        padding-bottom:1.5rem;
    }
    
}
@media screen and (max-width:450px){
    .popup-details-content-wrapper input{
        padding:2rem 1rem;
    }
} 
.swal2-container {
    z-index: 999999 !important;
}
.success-kartlog{
    color:var(--blue);
}
