 .get-started{
    width:92%;
    display:grid;
    grid-template-columns: 40% 60%;
    padding-top:10rem;
    padding-bottom: 12rem;
    max-width: 1350px;
}

.get-started_content{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
}
.get-started_content--group:first-child{
    padding-top: 3rem;
}
.get-started_content--group:last-child{
    padding-left: 3rem;
}
.card_wrapper:first-child{
    margin-bottom: 2rem;
}
.get-started_content_wrapper{
    display:grid;
    place-items:center;
}

.get-started_header_wrapper{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.get-started_header{
    max-width:30rem;
    width:100%;
    padding-bottom:5rem;
}
.get-started_header h3{
    font-size:2.2rem;
    color:var(--pink);
    padding-bottom:.5rem;
}
.get-started_header h1{
    font-size: calc(var(--fontSizeBig) + .5rem);
    color:var(--blue);
    font-weight:900;
}


.card_wrapper{
    width:23rem;
    height:23rem;
    background:#fff;
    border-radius:15px;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 10%);
    display:grid;
    place-items: center;
}
.card_wrapper_color{
    background:var(--pink);
    color:#fff;
}
.card{
    height:18rem;
    width:18rem;
}
.card .card_icon{
    height:4.5rem;
    width:4.5rem;
    border-radius:50%;
    display:grid;
    place-items:center;
}
.card .card_icon-color{
    background:var(--blue);
}
.card .card_icon span{
    color:#fff;
}
.card .card_icon img{
    width:100%;
    height:100%;
}
.card .card_header{
    color:var(--black);
    padding-top:1rem;
    line-height:2.2rem;
}
.card .card_text{
    color:var(--black);
    padding-top: .5rem;
    font-size:1.45rem;
    line-height:2.1rem;
}
.card_header_special{
    color:#fff;
    padding-top:1rem;
    line-height:2.rem;
}
.card_text_special{
    color:#fff;
    padding-top: .5rem;
    font-size:1.3rem;
    line-height:2.1rem;
}

@media screen and (max-width:1000px){
    .get-started{
        grid-template-columns: 100%;
    }
    .get-started_header{
        max-width:100%;
        height:auto;
    }
    .get-started_header h1, .get-started_header h3{
        display:grid;
        place-items:center;
    }
    .get-started_content{
        justify-content: center;
    }
    
    
}
@media screen and (max-width:568px){
    .get-started_content{
        flex-direction: column;
        
    }
    .get-started_content--group:first-child{
        justify-content: center;
        display:flex;
        padding-bottom:4rem;
    }
    .get-started_content--group:last-child{
        display:flex;
        justify-content: center;
        padding-left: 0;
    }
    .card_wrapper:first-child{
        margin-bottom: 4rem;
    }
    .get-started_header h1, .get-started_header h3{
        text-align: center;
    }
}
@media screen and (max-width:468px){
    .get-started_header h1{
        font-size:2.8rem;
    }
}
@media screen and (max-width:370px){
    .get-started_header h1, .get-started_header h3{
        place-items:center;
    }
}