.contact-container{
    width:100%;
    margin-top:12rem;
    margin-bottom: 7rem;
    display:grid;
    place-items: center;
}
.contact-wrapper{
    width:92%;
    max-width: 1400px;
    background:var(--blue);
    border-radius:10px;
}
.contact{
    display:grid;
    grid-template-columns: 40% 60%;
    width:100%;
    padding: 2rem 2rem;
    padding-bottom: 4rem;
}
.contact-main_wrapper{
    display:flex;
    justify-content: center;
}
.contact-main{
    max-width:20rem;
    width:100%;
    padding-top:5rem;
    color:#fff;
}
.contact-main_header{
    padding-bottom: 6rem;
}
.contact-main_header h1{
    font-size: var(--fontSizeBig);
    font-weight:800;
    padding-bottom: .5rem;
}
.contact-main_header p{
    font-size:var(--fontText);
    font-weight:500;
    line-height:1.8rem;
}
.contact-main_footer--tel{
    display:flex;
    align-items:center;
    padding-bottom: 1rem;
}
.contact-main_footer--tel p{
    font-size:var(--fontText);
    padding-left:1rem;
    font-weight:300;

}
.contact-main_footer--mail{
    display:flex;
    align-items:center;
}
.contact-main_footer--mail p{
    font-size: var(--fontText);
    padding-left:1rem;
    font-weight:300;
}
.contact-main_footer--mail > span{
    color:white !important;
}


@media screen and (max-width:768px){
    .contact{
        grid-template-columns: 100%;
    }
    .contact-main_wrapper{
        justify-content: left;
        padding: 3rem;
        padding-top:0;
    }
    
    .contact-form{
        max-width:100%;
    }
}
@media screen and (max-width:468px){
    .contact-container{
        background:linear-gradient(var(--blue) 34.9% , #fff 34.9%);
    }
    .contact{
        padding:2rem 0;
    }
    .contact-wrapper{
        background:transparent;
    }
    .contact-main_wrapper{
        padding:3rem 0;
    }
    .contact-main{
        padding-top:2rem;
    }
}
