.faqs-wrapper{
    width:100%;
    display: grid;
    place-items: center;
    padding:4rem 0;
}
.faqs-container{
    width:92%;
}
.faqs-header{
    padding-bottom:4rem ;
    padding-left: 1.5rem;
}
.faqs-header h1{
    font-size:calc(var(--fontSizeBig) + .5rem);
    color:var(--black);
}

.faqs-content-header{
    display:grid;
    grid-template-columns: 83% 15%;
    gap:2%;
    padding-bottom:1.5rem;
}
.faqs-content-header p{
    color:var(--black);
}


.faqs-content{
    font-size:var(--fontText);
}
.faqs-icon{
    display:flex;
    padding:0 1.5rem;
    justify-content: right;
}
.faqs-content{
    border-bottom:1px solid var(--blue);
    padding-left:1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    line-height:2.8rem;
}
.faqs-content-main{
    width:90%;
    transition: height 250ms ease;
    font-size:1.5rem;
    overflow:hidden;
    color:var(--black);
    padding: 0 1.5rem;
}
.faqs-content-main:not(.effect){
    display:none;
}
