.nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    

    .nav-items{
        display:flex;
        font-size: 1.6rem;

        .navlink-color-w{
            color:#fff !important;

            &:link,
            &:visited{
                color:#fff;
            }
        }
        .navlink-color-b{
            color:#222;

            &:link,
            &:visited{
                color:#222;
            }
        }

        @media screen and (max-width:768px){
            display:none;
        }

        &-item{
            font-weight: 700;
        }
        &-item:not(:last-child){
            margin-right: 2rem;
        }
    }
}