.footer-container{
    width:100%;
    background:rgba(0,0,0,.9) url("../Images/Div\ trans\ logo.svg") no-repeat 100% 0%;
    padding: 3rem 0;
    width:100%;
    display:grid;
    padding-top:5rem;
    place-items: center;
}
.footer-wrapper{
    width:92%;
    max-width: 1350px;
}
.footer{
    display:flex;
    color:white;
    justify-content: space-between;
}
.footer-main_img{
    padding-bottom:2.5rem;
    width:18rem;
}
.footer-main_img img {
    width:100%;
}
.footer-main{
    max-width: 100%;
    max-width:25rem;
    padding-left:1rem;
}
.footer-main-p p{
    font-weight: 200;
    font-size:1.5rem;
    line-height:2.5rem;
}
.footer-main-h2 h2{
    font-weight: 400;
    font-size:1.8rem;
    cursor: pointer;
}
.footer-main-h2{
    padding-top:8rem;
    padding-bottom:8rem;
}
.footer-main h2:hover{
    color:var(--blue);
}

.footer-sub_wrapper{
    width:fit-content;
}
.footer-sub{
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
}
.footer-sub-img{
    display:grid;
    place-items: center;
}

.footer-bottom{
    color:#fff;
    font-weight: 400;
    height: 6rem;
    font-weight: 200;
    font-size:1.5rem;
    border-top: 1px solid #fff;
    display:grid;
    padding-top:2rem;
    padding:1rem 1rem;
    grid-template-columns: 50% 50%;
}
.footer-copyright-wrapper{
    place-items: normal left;
}
.footer-copyright{
    padding:1rem 0;
}
.footer-main-h2 a:link,
.footer-main-h2 a:visited{
    color:#fff;
    text-decoration: none;
}
.footer-main-h2 a:hover{
    color:var(--blue);
}
.footer-social-wrapper{
    display:grid;
    place-items: normal right;
}
.footer-social{
    width:100%;
    max-width:13rem;
    height:100%;
    display:flex;
    justify-content:space-between;
}
.footer-social-icons{
    height:3.5rem;
    width:3.5rem;
    border:1px solid #fff;
    border-radius:12px;
    display:grid;
    place-items:center;
    background:transparent;
}
.footer-social-icons:active,
.footer-social-icons:hover{
    border:1px solid var(--blue);
    color:var(--blue);
}

.footer-social a:link,
.footer-social a:visited{
    color:#fff;
}
.footer-social a:active{
    color:var(--blue);
}


@media screen and (max-width:900px){
    .footer-bottom{
        padding:1rem 0;
    }
    .footer-main{
        padding-left:0;
    }
}
@media screen and (max-width:672px){
    .footer{
        flex-direction: column;
    }
    .footer-sub_wrapper{
        margin-left:-1.2rem;
    }
    .footer-main-h2{
        padding-bottom:3rem;
        padding-top:3rem;
    }
    .footer-sub_wrapper{
        padding-bottom:7rem;
    }
}
@media screen and (max-width:468px){
    .footer-bottom{
        grid-template-columns: 100%;
        height: auto;
        padding-top:3rem;
    }
    .footer-social-wrapper{
        grid-row:1/2;
        place-items: normal left;
    }
}
@media screen and (max-width:316px){
    .footer-sub{
        grid-template-columns: 100%;
    }   
}