.signup{
    padding-top:5rem;
    padding-bottom: 8rem;
    display:flex;
    column-gap: 6rem;

    &-img{

        @media screen and (max-width:900px){
            display:none;
        }
    }

    &-content{
        padding-top:3rem;
        flex:1;

        &-max{
            padding-left: 6%;

            &_width{
                max-width: 55rem;
    
                @media screen and (max-width:900px){
                    margin:auto;
                }
            }
        }

        .heading-lg{
            letter-spacing: 2px;

            &::after{
                height:5px;
                width:15rem;
                background:#2BA84A;
                content:"";
                display:block;
                border-radius: 1rem;
                margin-top:5px;
            }
        }

        &-row{
            margin-top: 2.5rem;
        }

        &-password_service{
            padding-top:4rem;
            display:flex;
            align-items: center;
            justify-content: space-between;
            font-size:1.5rem;
            font-family:'Nunito','Ubuntu','Roboto', Helvetica, sans-serif;

            &-btn_s{
                background: #fff;
                color:#2BA84A;
                box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
                font-weight: 800;
            }

            &-remember_me{
                display:flex;
                align-items: center;

                & > span{
                    padding-right: 1rem;
                }
            }
        }

        &-providers{
            padding-top:2rem;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;

            
            &-btn{
                display:flex;
                align-items: center;
                font-size:1.4rem;

                & > div{

                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }

                &_g{
                    background: #fff;
                    color:#2BA84A;
                    font-weight: 800;
    
                    div{
                        span:nth-child(1), span:nth-child(4), span:nth-child(5){
                            color:#4285F4;
                        }
                        span:nth-child(2), span:nth-child(6){
                            color:#DB4437;
                        }
                        span:nth-child(3){
                            color:#F4B400;
                        }
                    }
                }
                
                &_f{
                    background: #fff;
                    color:#4267B2;
                    border-color:#4267B2;
                    font-weight: 800;
                }
            }

            &-forgot_psw{
                font-size:1.4rem;

                span{
                    color:#2BA84A;
                }
            }

        }

        &-getstarted{
            padding-top:2rem;
            font-size:1.5rem;

            a,
            a:link,
            a:visited{
                color:#2BA84A;
            }
        }
    }
}